{% macro card_display(book, user, is_index=False) %}
    {% if book.image_url %}
        <div class="card-image">
            <img src="{{book.image_url}}">
        </div>
        <div class="card-details">
            {{ card_details(book, user, is_index) }}
        </div>
    {% else %}
        {{ card_details(book, user, is_index) }}
    {% endif %}
{% endmacro %}

{% macro card_details(book, user, is_index) %}
    <span class="book-card-title">{{book.title}}</span>
    <span class="book-card-author">by {{book.author}}</span>
    <span class="book-card-genre">{{book.genre}}</span>
    <span class="book-card-user">added by {{user}} {% if is_index %} on {{ book.created.strftime('%Y-%m-%d') }} {% endif %}</span>
{% endmacro %}